.tealBackground {
	background-color: #4aaaa5;

}

.tealHeadings {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.mainHeader {
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-style: solid;
	position: relative;
	
}

h1 {
	color: white;
	width: 200px;
	position: relative;
}




.mainFooter {
	background-color: #666666;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.mainContent {
	background: #ffffff
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif
}

.sidebarContent {
	background: #ffffff
	border-color: #dddddd;
	border-width: 1px;
	border-style: solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif
}

.entireContent {
	width: 960px;
}

.mainContent {
	width: 650px;
}

.sideBar {
	width: 270px;
}